<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
<h1>Hello World</h1>
<h2><%= user.name %></h2>
<body>

 <form action="/mypost" method="post">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form> 

 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

</body>

</html>
