<!DOCTYPE html>
<html lang="en">
<!-- <h3>Restaurant page</h3> -->

<br><br>
<table>
<% for(var i=0; i < data1.length; i++) { %>
   <tr>
     <td><%= data1[i].name %></td>
     <td><%= data1[i].tags %></td>
   </tr>
<% } %>
</table>
</body>

</html>
